__pycache__/
*.py[cod]
*$py.class

# Environments
.env

# Database
*.sqlite3
# *.db
# lubmovil.db

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Logs
*.log
server_new.log

# IDE files
.vscode/
